{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="card">
                <div class="card-header">
                    <h2 class = "text-center">Payment Details</h2>
                </div>
                <div class="card-body">
                    <p><strong>Customer Name : </strong>{{ request.user.get_full_name }}</p>
                    <p><strong>Customer ID : </strong>{{request.user.get_username}}</p>
                    <p><strong>Payment Status : </strong>{{status}}</p>
                    <p><strong>Payment ID : </strong>{{payment_id}}</p>
                    <p><strong>Order ID : </strong>{{order_id}}</p>
                    <p><strong>Payment Time : </strong>{{payment_time}}</p>
                    <div class="row justify-content-center">
                        <a href="{% url 'Ebooks:my_ebooks' %}" class="btn btn-orange" role="button">Read Ebook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
