<div class="row justify-content-center mt-2">
    <div class="col-md-6">
        <form class="needs-validation" action="{% url 'Products:search_products' %}" method="POST" novalidate>
        {% csrf_token %}
            <div class="input-group" >
                <input class="form-control" type="text" placeholder="Search" name="search" id="search" required>
                <button class="btn btn-orange" type="submit"><i class="fas fa-search fa-lg"></i></button>
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
        </form>
    </div>
</div>
<script>
// JavaScript for disabling form submissions if there are invalid fields.
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
